@model List<Entities.ProductGroup>
@{
    ViewData["Title"] = "Home Page";
}

<distributed-cache name="index" expires-after="@TimeSpan.FromSeconds(300)">
    <div class="text-center">
        <h1 class="display-4">Today at @DateTime.Now.ToLongTimeString() we have the next groups</h1>
        <ul>
            @foreach (var pg in Model)
            {
                <li><a asp-action="Products" asp-route-id="@pg.ID"><h2>@pg.Name</h2></a></li>
            }
        </ul>
    </div>
</distributed-cache>

